@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>P.C.A.</h1>
    <p class="lead">P.C.A. is a simple web application to perform probability calculations and svae the results <br/> to a log file. 
    The last Pro-CALC tool you will ever use.</p>
    <p>@Html.ActionLink("Start now", "Index", "Calculator", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            P.C.A. allows you to perform basic probability calculations and save them to a log file
            for later access 
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calculations</h2>
        <p>Currently supported calculations are: COMBINED and EITHER. Stay tuned for more</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Logs</h2>
        <p>Simply select a file path to save the results. We will do all the rest </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>